*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body {
  background-image: url("https://i.postimg.cc/bwrHBVkc/clark-street-mercantile-P3p-I6xzovu0-unsplash.jpg");
  background-size: contain;
  backdrop-filter: blur(5px); 
}

.content{
  width: 100%;
  position: absolute;
  color: burlywood;
  top: 38%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1{
  margin-top: 10px;
  font-size: 90px;
  font-family: "Lucida Handwriting", cursive;
}
.content p{
  font-size: 30px;
  margin: 5px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.text{
    font-family: "Lucida Handwriting", cursive;
    font-size: 35px;
    text-decoration: none;
    color: rgb(238, 255, 0);
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.login{
    background-color: rgba(238, 255, 0);
    width: 70px;
    height: 35px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* For styling Box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(238, 255, 0);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(238, 255, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}

.nav-search:hover{
    border: 2px solid rgba(238, 255, 0);
}

/* For styling the Header 2 section */

:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }
  
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    padding: 10px 30px;
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
  }
/*For styling the footer*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  position: relative;
  margin-top: 880px;
	background-color: #24262b;
  padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.copyrightText{
  text-align: center;
  color: #ffffff;

}
/*responsive*/
@media(max-width: 800px){
  .footer-col,body{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
